@using System.Globalization;
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<DatePicker PickerMode="@DatePickerMode.PresetThenDate"/>

@code {
    private string Details = DateTime.Now.ToString("dd/MM/yyyyy",CultureInfo.InvariantCulture);
}
    
